@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Alegreya', serif;
}
body {
    background: linear-gradient(to right, #535458 0%, #535458 30%, #838488 30%, #838488 100%);
}
/* navigation*/

nav a {
    color: white;
    text-decoration: none;
}
nav li {
list-style: none;
font-size: 2rem;
font-weight: bold;
}
nav li a:hover {
color: #262729;

}
nav li a.active {
    font-size: 2.4rem;
    text-decoration-line: underline;
}

nav ul {
    width: 80%;
    margin: auto;
    display: flex;
    min-height: 10vh;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
nav {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}
    
/* main section */

.main-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;

}
.main-img {
    display: flex;
    flex: 1 1 10rem;
    justify-content: center;
    align-items: center;
    
    

}
.main-text {
    display: flex;
    flex: 1 1 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.main-text h1 {
    padding: 1rem;
    font-size: 3.6rem;

}
.main-text h2 {
    padding: 1rem;
    font-size: 2.4rem;
}
.main-text button {
margin-top: 10rem;
padding: 1rem 2rem;
border: none;
background-color: #535458;
font-size: 1.5rem;
font-weight: bold;
border-radius: 10px;
}
.main-text button a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.main-text button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px -1px;
}
/* footer*/
.main-footer {
    display: flex;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    }

.footer-copyright {
    display: flex;
    flex: 1 1 10rem;
    justify-content: center;
    align-items: center;
}
.footer-social-media  {
    display: flex;
    flex: 1 1 10rem;
    justify-content: center;
    align-items: center;
}
footer ul {
    display: flex;
}

footer i {
    color: #262729;
    padding: 2rem;
    }
footer li {
    list-style: none;
}
footer i:hover {
    transform: scale(1.1);
    color: black;
}


